<div class="parents">
    <h2>Selected Period <span class="title-small"> Last 5 weeks</span></h2>
    <div>
        <div>
            <section class="card-parents">
                <div class="card">
                    <h1>110.4k</h1>
                    <p>Result</p>
                </div>
                <div class="card">
                    <h1>110.4k</h1>
                    <p>Result</p>
                </div>
                <div class="card">
                    <h1>110.4k</h1>
                    <p>Result</p>
                </div>
                <div class="card">
                    <h1>110.4k</h1>
                    <p>Result</p>
                </div>
                <div class="card">
                    <h1>110.4k</h1>
                    <p>Result</p>
                </div>
            </section>
            <section class=" chart-parents">
                <apx-chart [series]="series" [chart]="chart" [dataLabels]="dataLabels" [plotOptions]="plotOptions"
                    [yaxis]="yaxis" [fill]="fill" [stroke]="stroke" [tooltip]="tooltip" [xaxis]="xaxis" [title]="title"
                    [markers]="markers">
                </apx-chart>
                <apx-chart [series]="series" [chart]="chart" [dataLabels]="dataLabels" [plotOptions]="plotOptions"
                    [yaxis]="yaxis" [fill]="fill" [stroke]="stroke" [tooltip]="tooltip" [xaxis]="xaxis" [title]="title"
                    [markers]="markers">
                </apx-chart>
            </section>

        </div>
    </div>
</div>