.card-parents {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 15px;
    margin-top: 20px;
    // padding: 0px 15px;

}

.parents {
    padding: 10px 20px;
}

h1 {
    font-size: 40px;
    text-align: center;
}

p {
    text-align: center;
    font-size: 20px;
}

.title-small {
    font-size: 16px;
}

h2 {
    text-align: end;
}

.card {
    border: 3px solid rgb(78, 208, 218);
    padding: 20px 40px;
    border-radius: 8px;
}

.chart-parents {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
    margin-top: 30px;
    // padding: 0px 15px;
}

@media only screen and (max-width:1279px) and (min-width: 765px) {
    .card-parents {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px;
    }

    .chart-parents {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;
        margin-top: 30px;
        padding: 0px 15px;
    }

    .card {
        border: 3px solid rgb(78, 208, 218);
        padding: 10px 20px;
        border-radius: 8px;
    }

}


@media only screen and (max-width: 764px) {
    .card-parents {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 20px;
    }

    .chart-parents {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;
        margin-top: 30px;
        padding: 0px 15px;
    }
}